*{

    box-sizing: border-box;
    background-color: beige;
    margin: 0rem;
    padding: 1rem;    
}

body{
    background-color: black;
}

.header{
    text-align: center;
}


/*
*{
    
    box-sizing: border-box;
    background-color: beige;
    margin: 1rem;
    padding: 0;    
}
.myNavbar{
    display: inline-block;
}

.myNavbar a{
    padding: 0 1rem;
}

.myNavbar a:hover{
    background-color: brown;
}
*/